@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "antd/dist/antd.css";

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.bomb-icon {
  height: 40px;
}

.landing-page-top {
  background-image: url(https://around-the-block.s3.amazonaws.com/demining.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 579px;
  z-index: 2;
}

.landing-text {
  line-height: 0.84;
  padding-top: 10vh;
}

.landing-title {
  font: 700 15px/1 sofia-pro, sans-serif;
  color: #645f35;
  letter-spacing: -4px;
  font-size: 62px;
  align-items: top;
  margin: 0 auto 15px;
  line-height: 0.84;
}

.landing-subheader {
  font-family: sofia-pro, sans-serif;
  font-size: 20px;
  color: #08142c;
  align-items: center;
  padding-left: 5px;
}

.get-started-button {
  align-items: center;
}

.get-started-text {
  font-size: 30px;
}

.rounded-button-extra {
  border-radius: 80px;
  padding: 0.7em 1.5em;
  background-color: #c1c526;
  margin: 0
}

.rounded-button-extra:hover {
  background-color: #645f35;
}

.landing-grid {
  background-color: white;
}

.subsection-title {
  font: 600 15px/1 sofia-pro, sans-serif;
  color: #645f35;
  letter-spacing: -3px;
  font-size: 40px;
}

.landing-subsection img {
  margin-bottom: 50px;
  max-height: 270px;
}

.subsection p {
  font-size: 18px;
  margin-bottom: 50px;
}

.subsection-img-div {
  align-self: center;
}

.developers-section-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.dev-card {
  width: 270px;
  height: auto;
  border-radius: 15px;
}

.developers-section-container img {
  margin: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

// game board grid layout
.game-tile {
  width: 35px;
  height: 35px;
  margin: auto;
  padding: 8px;
}

.game-tile:nth-of-type(odd) {
  background-color: #f2cb94;
}

.game-tile:nth-of-type(even) {
  background-color: #dcb37e;
}

.game-tile:hover {
  animation: bounce 0.5s;
  filter:brightness(85%)
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.game-tile.bomb {
  padding: 0;
}

.game-board {
  width: 634px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  border: 2px solid #bc9360;
  background-color: #ab8655
}

.modal-container {
  justify-content: center;
  text-align: center;
}

// game-container layout

.game-container {
  text-align: center;
}

.game-info-container {
  padding-top:30px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.timer {
  border: 3px solid #545037;
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
  margin: 0 15px;
  display: flex;
  font-size: 30px;
  font-weight: 650;
  color: #ea4c4c
}

.mine-counter {
  border: 3px solid #545037;
  border-radius: 10px;
  width: 91px;
  padding: 5px;
  margin-right: 15px;
  display: flex;
  font-size: 30px;
  font-weight: 650;
  color: #ea4c4c;
  text-align: center;
}

.new-game-button {
  border: 3px solid #545037;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 650;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.new-game-button:hover {
  background-color: #c1c526;
  color: white;
}

.game-tile.uncovered {
  background-color: #ab8655;
}

.game-tile.uncovered:hover {
  filter:brightness(100%);
  animation: 0s;
}
